# Activa mod_rewrite
RewriteEngine On
RewriteBase /Ejercicios_adso/

# Redirige todo a index.php excepto archivos/directorios reales
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [QSA,L]